.contents
  = render "shared/sidebar"
  .chat
    .header
      .header__left
        .header__left--title
          GroupName
        %ul.header__left--members
          Member：
          %li.member name
      .header__right
        %button.header__right--button{name: "edit", onclick: "location.href='/groups/id/edit'", type: "button"} Edit
    .messages
      .message
        .message--info
          .message__username Username
          .message__data 2017/08/11
        .message__sentence
          %p.sentence いいいいいいいいいいいいいいいいいいいいいいいいい
      .message
        .message--info
          .message__username Username
          .message__data 2017/08/11
        .message__sentence
          %p.sentence いいいいいいいいいいいいいいいいいいいいいいいいい
      .message
        .message--info
          .message__username Username
          .message__data 2017/08/11
        .message__sentence
          %p.sentence いいいいいいいいいいいいいいいいいいいいいいいいい
      .message
        .message--info
          .message__username Username
          .message__data 2017/08/11
        .message__sentence
          %p.sentence いいいいいいいいいいいいいいいいいいいいいいいいい
      .message
        .message--info
          .message__username Username
          .message__data 2017/08/11
        .message__sentence
          %p.sentence いいいいいいいいいいいいいいいいいいいいいいいいい
      .message
        .message--info
          .message__username Username
          .message__data 2017/08/11
        .message__sentence
          %p.sentence いいいいいいいいいいいいいいいいいいいいいいいいい
      .message
        .message--info
          .message__username Username
          .message__data 2017/08/11
        .message__sentence
          %p.sentence いいいいいいいいいいいいいいいいいいいいいいいいい
      .message
        .message--info
          .message__username Username
          .message__data 2017/08/11
        .message__sentence
          %p.sentence いいいいいいいいいいいいいいいいいいいいいいいいい
      .message
        .message--info
          .message__username Username
          .message__data 2017/08/11
        .message__sentence
          %p.sentence いいいいいいいいいいいいいいいいいいいいいいいいい
      .message
        .message--info
          .message__username Username
          .message__data 2017/08/11
        .message__sentence
          %p.sentence いいいいいいいいいいいいいいいいいいいいいいいいい
      .message
        .message--info
          .message__username Username
          .message__data 2017/08/11
        .message__sentence
          %p.sentence いいいいいいいいいいいいいいいいいいいいいいいいい
      .message
        .message--info
          .message__username Username
          .message__data 2017/08/11
        .message__sentence
          %p.sentence いいいいいいいいいいいいいいいいいいいいいいいいい
      .message
        .message--info
          .message__username Username
          .message__data 2017/08/11
        .message__sentence
          %p.sentence いいいいいいいいいいいいいいいいいいいいいいいいい
      .message
        .message--info
          .message__username Username
          .message__data 2017/08/11
        .message__sentence
          %p.sentence いいいいいいいいいいいいいいいいいいいいいいいいい
    .form
      %form#new_message.new-message
        %input.form__message{placeholder: "type a message"}/
        .photo-upload
          %label.photo-upload__label
            %i.fa.fa-picture-o{"aria-hidden" => "true"}
        %input.form__submit{type: "submit", value: "Send"}/
