<div class="content">
  <header>
  <div class="top">
    <p>username</p>
    <p><i class="fa fa-cog" aria-hidden="true"></i><p>
    <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i><p>
  </div>
    <nav class='header-nav'>
      <ul class='menu'>
        <li class='group__list'>GroupName</li>
          <ul class="group__activity">
            <li class="group__activity--sentence">ActivitySentence</li>
          </ul>
       </ul>
    </nav>
  </header>
</div>
