<div class="contents">
    <div class="sidebar">
      <header>
        <h3>Username</h2>
        <ul class="header__lists">
          <li class="list"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></li>
          <li class="list"><i class="fa fa-cog" aria-hidden="true"></i></li>
        </ul>
      </header>
      <div class="groups">
        <div class='group'>
          <div class='group__name'>GroupName</div>
          <div class="group__activity">
            まだメッセージはありません
          </div>
        </div>
        <div class='group'>
          <div class='group__name'>GroupName1</div>
          <div class="group__activity">
            まだメッセージはありません
          </div>
        </div>
        <div class='group'>
          <div class='group__name'>GroupName2</div>
          <div class="group__activity">
            まだメッセージはありません
          </div>
        </div>
      </div>
    </div>
    <div class="chat">
      <header>
        <div class="left-header">
          <div class="left-header__title">
          GroupName
          </div>
          <ul class="left-header__members">
         Member：
            <li class="member">name</li>
          </ul>
        </div>
        <div class="right-header">
          <button class="right-header__button" type="button" name="edit" onclick="location.href='/groups/id/edit'">Edit</button>
        </div>
      </header>
    <div class="messages">
      <div class="message">
        <div class="message--info">
          <div class="message__username">Username</div>
          <div class="message__data">2017/08/11</div>
        </div>
        <div class="message__sentence">
         <p class="sentence">いいいいいいいいいいいいいいいいいいいいいいいいい</p>
        </div>
      </div>
      <div class="message">
        <div class="message--info">
          <div class="message__username">Username</div>
          <div class="message__data">2017/08/11</div>
        </div>
        <div class="message__sentence">
         <p class="sentence">いいいいいいいいいいいいいいいいいいいいいいいいい</p>
        </div>
      </div>
      <div class="message">
        <div class="message--info">
          <div class="message__username">Username</div>
          <div class="message__data">2017/08/11</div>
        </div>
        <div class="message__sentence">
         <p class="sentence">いいいいいいいいいいいいいいいいいいいいいいいいい</p>
        </div>
      </div>
      <div class="message">
        <div class="message--info">
          <div class="message__username">Username</div>
          <div class="message__data">2017/08/11</div>
        </div>
        <div class="message__sentence">
         <p class="sentence">いいいいいいいいいいいいいいいいいいいいいいいいい</p>
        </div>
      </div>
      <div class="message">
        <div class="message--info">
          <div class="message__username">Username</div>
          <div class="message__data">2017/08/11</div>
        </div>
        <div class="message__sentence">
         <p class="sentence">いいいいいいいいいいいいいいいいいいいいいいいいい</p>
        </div>
      </div>
      <div class="message">
        <div class="message--info">
          <div class="message__username">Username</div>
          <div class="message__data">2017/08/11</div>
        </div>
        <div class="message__sentence">
         <p class="sentence">いいいいいいいいいいいいいいいいいいいいいいいいい</p>
        </div>
      </div>
      <div class="message">
        <div class="message--info">
          <div class="message__username">Username</div>
          <div class="message__data">2017/08/11</div>
        </div>
        <div class="message__sentence">
         <p class="sentence">いいいいいいいいいいいいいいいいいいいいいいいいい</p>
        </div>
      </div>
      <div class="message">
        <div class="message--info">
          <div class="message__username">Username</div>
          <div class="message__data">2017/08/11</div>
        </div>
        <div class="message__sentence">
         <p class="sentence">いいいいいいいいいいいいいいいいいいいいいいいいい</p>
        </div>
      </div>
      <div class="message">
        <div class="message--info">
          <div class="message__username">Username</div>
          <div class="message__data">2017/08/11</div>
        </div>
        <div class="message__sentence">
         <p class="sentence">いいいいいいいいいいいいいいいいいいいいいいいいい</p>
        </div>
      </div>
    </div>
    <div class="form">
      <form class="new-message" id="new_message">
        <input class="form__message" placeholder="type a message" >
        <div class="photo-upload">
          <label class="photo-upload__label">
            <i class="fa fa-picture-o" aria-hidden="true"></i>
          </label>
        </div>
        <input class="form__submit" type="submit" value="Send">
      </form>
    </div>
  </div>
</div>
