.contents
  = render partial: "shared/sidebar", locals: { groups: @groups }
  .chat
    = render partial: "shared/header", locals: {group: @group}
    .messages
      .message
        .message--info
          .message__username Username
          .message__data 2017/08/11
        .message__sentence
          %p.sentence いいいいいいいいいいいいいいいいいいいいいいいいい
      .message
        .message--info
          .message__username Username
          .message__data 2017/08/11
        .message__sentence
          %p.sentence いいいいいいいいいいいいいいいいいいいいいいいいい
      .message
        .message--info
          .message__username Username
          .message__data 2017/08/11
        .message__sentence
          %p.sentence いいいいいいいいいいいいいいいいいいいいいいいいい
      .message
        .message--info
          .message__username Username
          .message__data 2017/08/11
        .message__sentence
          %p.sentence いいいいいいいいいいいいいいいいいいいいいいいいい
      .message
        .message--info
          .message__username Username
          .message__data 2017/08/11
        .message__sentence
          %p.sentence いいいいいいいいいいいいいいいいいいいいいいいいい
      .message
        .message--info
          .message__username Username
          .message__data 2017/08/11
        .message__sentence
          %p.sentence いいいいいいいいいいいいいいいいいいいいいいいいい
      .message
        .message--info
          .message__username Username
          .message__data 2017/08/11
        .message__sentence
          %p.sentence いいいいいいいいいいいいいいいいいいいいいいいいい
      .message
        .message--info
          .message__username Username
          .message__data 2017/08/11
        .message__sentence
          %p.sentence いいいいいいいいいいいいいいいいいいいいいいいいい
      .message
        .message--info
          .message__username Username
          .message__data 2017/08/11
        .message__sentence
          %p.sentence いいいいいいいいいいいいいいいいいいいいいいいいい
      .message
        .message--info
          .message__username Username
          .message__data 2017/08/11
        .message__sentence
          %p.sentence いいいいいいいいいいいいいいいいいいいいいいいいい
      .message
        .message--info
          .message__username Username
          .message__data 2017/08/11
        .message__sentence
          %p.sentence いいいいいいいいいいいいいいいいいいいいいいいいい
      .message
        .message--info
          .message__username Username
          .message__data 2017/08/11
        .message__sentence
          %p.sentence いいいいいいいいいいいいいいいいいいいいいいいいい
      .message
        .message--info
          .message__username Username
          .message__data 2017/08/11
        .message__sentence
          %p.sentence いいいいいいいいいいいいいいいいいいいいいいいいい
      .message
        .message--info
          .message__username Username
          .message__data 2017/08/11
        .message__sentence
          %p.sentence いいいいいいいいいいいいいいいいいいいいいいいいい
    .form
      %form#new_message.new-message
        %input.form__message{placeholder: "type a message"}/
        .photo-upload
          %label.photo-upload__label
            %i.fa.fa-picture-o{"aria-hidden" => "true"}
        %input.form__submit{type: "submit", value: "Send"}/
