.contents
  = render partial: "shared/sidebar", locals: { groups: @groups }
  .chat
    = render partial: "shared/header", locals: { group: @group }
    .messages
      - @group.messages.each do |message|
        = render partial: "shared/message", locals: {message: message}
    = render partial: "shared/form"
