<div class="form">
  <%= form_for [@group, @message] do |f| %>
  <form class="new-message" id="new_message">
    <%= f.text_field :body, placeholder: "type a message", class: "form__message" %>
    <div class="photo-upload">
      <label class="photo-upload__label">
        <i class="fa fa-picture-o" aria-hidden="true"></i>
      </label>
    </div>
    <%= f.submit 'Sent', class: "form__submit" %>
  </form>
  <% end %>
</div>
