= link_to group_messages_path(group) do
  .group
    .group__name
      #{group.name}
    .group__activity
      - if group.messages.last.present?
        #{group.messages.last.body}
      - else
        メッセージがありません
