.message
  .message--info
    .message__username
      #{message.user.name}
    .message__data
      #{I18n.l(message.created_at, format: :short)}
  .message__sentence
    %p.sentence
      #{message.body}
